<!DOCTYPE HTML>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>uWATCH: Stream videos from cloud</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body style="background-color:black">
		<div>
			<div class="col-md-14 main">
			<header >
				<span>

					<iframe name="main_frame" height="600" width="100%" frameborder="0">
					</iframe>

				</span>
			</header>
			</div>
			<div class= "container">
			<section>
				<div class= "row">
				<section>
					<div class="col-sm-4">
						
						<a href="https://s3-us-west-2.amazonaws.com/uwatch/videos/Faded.mp4" target="main_frame">
							<img src="https://s3-us-west-2.amazonaws.com/uwatch/images/Faded.jpeg" height="300" width="330" />
						</a>

						<a href="https://s3-us-west-2.amazonaws.com/uwatch/videos/battle symphony.mp4" target="main_frame">
							<img src="https://s3-us-west-2.amazonaws.com/uwatch/images/battle.png" height="300" width="330" />
						</a>

						<a href="https://s3-us-west-2.amazonaws.com/uwatch/videos/closer.mp4" target="main_frame">
							<img src="https://s3-us-west-2.amazonaws.com/uwatch/images/closer.jpeg" height="300" width="330" />
						</a>

					</div>
					<div class="col-sm-4">

						<a href="https://s3-us-west-2.amazonaws.com/uwatch/videos/counting stars.mp4" target="main_frame">					
							<img src="https://s3-us-west-2.amazonaws.com/uwatch/images/counting.jpeg" height="300" width="330" />	
						</a>
				
						<a href="https://s3-us-west-2.amazonaws.com/uwatch/videos/heathens.mp4" target="main_frame">
							<img src="https://s3-us-west-2.amazonaws.com/uwatch/images/heathens.jpg" height="300" width="330" />
						</a>

						<a href="https://s3-us-west-2.amazonaws.com/uwatch/videos/hymm for the weekend.mp4" target="main_frame">
							<img src="https://s3-us-west-2.amazonaws.com/uwatch/images/hymm.jpg" height="300" width="330" />			
						</a>
					</div>
					<div class="col-sm-4">
						<a href="https://s3-us-west-2.amazonaws.com/uwatch/videos/let me love you.mp4" target="main_frame">
							<img src="https://s3-us-west-2.amazonaws.com/uwatch/images/letme.jpg" height="300" width="330" />
						</a>

						<a href="https://s3-us-west-2.amazonaws.com/uwatch/videos/love me like you do.mp4" target="main_frame">
							<img src="https://s3-us-west-2.amazonaws.com/uwatch/images/lovemelike.jpg" height="300" width="330" />			
						</a>
		
						<a href="https://s3-us-west-2.amazonaws.com/uwatch/videos/Albatraoz.mp4" target="main_frame">
							<img src="https://s3-us-west-2.amazonaws.com/uwatch/images/albatroz.jpg" height="300" width="330" />
						</a>
					</div>
				</section>
				</div>
			</section>
			</div>
			<footer>
			</footer>
		</div>
	</body>
</html>
